@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
  background-color: #f7f6f5;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin: 0;
  color: #444;
  padding: 60px 60px 60px 60px;
  font-weight: 400;
}

body.no-scroll {
  height: 100%;
  height: 100vh;
  overflow: hidden;
}

.page {
  max-width: 800px;
  margin: 0 auto;
  z-index: 1;
}

nav {
  position: sticky;
  top: 0px;
  padding: 20px 0;
  background: #f7f6f5;
  z-index: 2;
}

nav .menu {
  width: 800px;
  margin: 0 auto;
  text-align: right;

}

nav a {
  margin-left: 20px;
  color: #444;
}

p {
  margin: 0 0 20px 0;
  color: rgba(0,0,0,.5);
  line-height: 145%;
}

p strong {
    color: #555;
}


ul {
  list-style-type: disc;
  margin: 0 0 30px 0;
  padding-left: 25px;
  color: rgba(0,0,0,.5);
}

.links .divider {
  margin: 0 5px;
  color: rgba(0,0,0,.2);
  font-weight: bold;
}

.internal .links a:first-child {
  background-image: url(../images/icons/book.svg);
  background-size: 24px;
  padding-left: 31px;
  background-repeat: no-repeat;
  background-position: left 2px;
}

.external .links a:first-child {
  background-image: url(../images/icons/external.svg);
  background-size: 21px;
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: left 2px;s
}

.links a:first-child {
  font-weight: bold;
}

ul li {
  margin-bottom: 5px;
}

.about-me {
  margin-bottom: 50px;
}

.about-me .bio-photo {
  width: 160px;
  height: 160px;
  float: right;
  border-radius: 50%;
  background-image: url(../images/faces/top-left.jpg);
  background-size: 240%;
  margin-left: 40px;
  background-position: 47.5% 55%;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  opacity: .6;
  transform: rotate(3deg);
  position: relative;
  top: 5px;
}

h1 ,h2, h3 {
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
}

h1 .thumbs {
  position: absolute;
  width: 40px;
  transform: translateY(-5px) translateX(10px);
}

h2 {
  font-size: 28px;
  margin: 65px 0 30px 0;
}

h2 span {
  padding-bottom: 7px;
  border-bottom: solid 4px #444;
}

h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

h4 {
  margin: 25px 0 15px 0;
}

hr {
  margin: 20px 0;
  border: none;
}

.job {
  margin: 40px 0;
  padding-top: 30px;
  border-top: solid 3px rgba(0,0,0,.1);
}

h2 + .job {
  border: none;
  padding: 0;
}

.job .role {
  margin: 0 0 5px 0;
}

.job .description {
  margin: 20px 0 40px 0;
}

.job .time {
  color: rgba(0,0,0,.4);
  font-style: italic;
}

a {
  color: dodgerblue;
  text-decoration: none;
  font-size: inherit;
}

a:not(.thumbnail):not(.close-viewer):hover {
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: solid 2px dodgerblue;
}

@media (max-width: 640px) {
  body {
    padding: 30px;
  }

  h2 {
    transform: none;
  }
}

@media print {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
    border-bottom: solid 2px #ddd;
    transform: none;
    padding-bottom: 15px;
  }

  h2 span {
    background: transparent;
    padding: 0;
  }

  h3 {
    font-size: 18px;
  }

  hr {
    margin: 15px 0;
  }
}

.projects {
  display: flex;
  flex-direction: row;
  margin: 0 -20px;
  flex-wrap: wrap;
}

.project {
  flex: 1;
  margin: 15px 20px 35px 20px;
  min-width: 275px;
  border-radius: 8px;
}

.project .thumbnail {
  height: 200px;
  display: block;
  margin: 0 0 20px 0;
  border-radius: 4px;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  transition: transform .25s ease-in-out;
}

.project .thumbnail:hover {
  transform: scale(1.02);
}

.project .thumbnail:hover .nav-helper {
  opacity: 1;
}

.project .thumbnail .nav-helper .label {
  background-position: left;
  background-repeat: no-repeat;
}

.project.internal .thumbnail .nav-helper .label {
  background-image: url(../images/icons/book-white.svg);
  background-size: 24px;
  padding-left: 32px;
}

.project.external .thumbnail .nav-helper .label {
  background-image: url(../images/icons/external-white.svg);
  background-size: 21px;
  padding-left: 28px;
}

.project .thumbnail .nav-helper {
  position: absolute;
  color: white;
  text-shadow: 0 0 2px rgba(0,0,0,1);
  border-radius: 4px;
  top: 0;
  left: 0;
  font-weight: bold;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0,0,0,.65);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .1s ease-out;
}

.project .type {
  opacity: .4;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.project .title {
  margin: 0 4px 0 0;
}

.project .description {
  margin: 10px 0 15px 0;
}

.thumbnail.thimble {
  background-image: url("../images/thumbnails/thimble.png");
  background-color: #2D9961;
  color: white;
  background-size: cover;
  background-position: top-left;
}

.thumbnail.pixelracer {
  background-image: url(../images/thumbnails/pixelracer.png);
  background-color: #222222;
  background-size: cover;
  background-position: top-left;
}

.thumbnail.goodbye {
  background-image: url(../images/thumbnails/goodbye.png);
  background-color: #99B3D5;
  background-size: cover;
  border: none;
  background-position: top left;
}

.thumbnail.css-diner {
  background-image: url(../images/thumbnails/css-diner.png);
  background-color: #2E2A23;
  background-size: cover;
  background-position: center;
}

.thumbnail.paddle-force {
  background-image: url(../images/thumbnails/paddle-force-cover.png);
  background-color: #AE4C9A;
  background-size: cover;
  background-position: top;
}

.thumbnail.onscreen {
  background-image: url(../images/thumbnails/onscreen.png);
  background-color: white;
  border: solid 1px #f1ebe5;
  background-size: cover;
  background-position: top left;
}

.thumbnail.polypal {
  background-image: url(../images/thumbnails/polypal.png);
  background-color: white;
  background-size: cover;
  border: solid 1px #f1ebe5;
  background-position: left;
}

.thumbnail.typer {
  background-image: url(../images/thumbnails/typer.png);
  background-color: #DA85E0;
  background-size: cover;
  background-position: center;
}

.thumbnail.activestate {
  background-image: url(../images/thumbnails/activestate.png);
  background-color: #2479EB;
  background-size: cover;
  background-position: top;
}

.illustrations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.illustrations img {
  background: #DDD;
  width: calc(25% - 20px);
  height: calc(25% - 20px);
  margin: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  transition: transform .1s ease-out;
  border-radius: 4px;
}

.illustrations img.white-bg {
  border: solid 1px #f1ebe5;
}

@media (max-width: 640px) {
  .illustrations img {
    width: calc(33% - 20px);
    height: calc(33% - 20px);
  }
}

.illustrations img.transparent {
  background: transparent;
}

.illustrations img:hover {
  transform: scale(1.04);
}

.projects.list-mode .project {
  min-width: 100px;
}

.top-link {
  display: inline-block;
  margin-top: 80px;
}

img.loader {
  display: none;
}