@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');



body {
  background-color: #f7f6f5;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin: 0;
  color: #444;
  padding: 60px;
  font-weight: 400;
}

@media print {
 /* All your print styles go here */


}

.page {
  max-width: 800px;
  margin: 0 auto;
}

p {
  margin: 0 0 20px 0;
  color: rgba(0,0,0,.5);
  line-height: 140%;
}

ul {
  list-style-type: disc;
  margin: 0 0 30px 0;
  padding-left: 25px;
  color: rgba(0,0,0,.5);
}

ul li {
  margin-bottom: 5px;
}

.about-me {
  margin-bottom: 50px;
}

h1 ,h2, h3 {
  font-family: "Merriweather", serif;
}

.thumbs {
  position: absolute;
  width: 40px;
  transform: translateY(-5px) translateX(10px);
}

h1 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  margin: 65px 0 30px 0;
  transform: translateX(-15px);
}

h2 span {
  background: rgba(0,0,0,.1);
  padding: 5px 15px;
}

h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

h4 {
  margin: 25px 0 15px 0;
}

hr {
  margin: 20px 0;
  border: none;
}

.job {
  margin: 40px 0;
  padding-top: 30px;
  border-top: solid 3px rgba(0,0,0,.1);
}

h2 + .job {
  border: none;
  padding: 0;
}

.job .role {
  margin: 0 0 5px 0;
}

.job .description {
  margin: 20px 0 40px 0;
}

.job .time {
  color: rgba(0,0,0,.4);
  font-style: italic;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 320px) {
  body {
    padding: 20px 30px;
  }

  h2 {
    transform: none;
  }
}